PORT=8000
APP_URL="http://localhost:8000"
DATABASE_URL="your-url"

BCRYPT_SALT_ROUNDS=12

JWT_ACCESS_SECRET="a-long-random-string-for-access-tokens"
JWT_ACCESS_EXPIRES_IN="15m"

JWT_REFRESH_SECRET="a-different-long-random-string-for-refresh-tokens"
JWT_REFRESH_EXPIRES_IN="7d"

STRIPE_SECRET_KEY="sk_test_placeholder_for_now"
STRIPE_WEBHOOK_SECRET="whsec_placeholder_for_now"
STRIPE_PRODUCT_PRICE_ID="price_placeholder_for_now"